.cardElem {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.cardElem img {
    object-fit: contain;
    width: 150px;
    height: 150px;
    /* background-color: white; */
}