* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button_push {
    border: 1px solid black;
    width: 100px;
    height: 20px;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

